<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.proyecto.tesis.agrario" >

    <permission
        android:name="net.proyecto.tesis.agrario.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="net.proyecto.tesis.agrario.permission.MAPS_RECEIVE"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" /><!-- always list hardware required to prevent user errors and bad comments -->

    <uses-permission android:name="restaurantandroid.comsats.com.loguin.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".vistaformulario.VistaFormularioEjecucion"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ProbamosdeNuevo" android:label="@string/app_name"></activity>
        <activity android:name=".validacion.Loguin" android:label="@string/app_name"></activity>

        <activity android:name=".MainActivity" android:label="@string/app_name"></activity>
        <activity android:name=".mapa_arcgis.FeatureServiceTableQueryActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".mapa_arcgis.MapaQuery" android:label="@string/app_name"
            ></activity>
        <activity android:name=".mapa_arcgis.AttributeQuery" android:label="@string/app_name"></activity>
        <activity android:name=".mapa_arcgis.Viewshed" android:label="@string/app_name"></activity>
        <activity android:name=".mapa.MapaPrueba" android:label="@string/app_name"></activity>
        <activity android:name=".vista.View_Lista" android:label="@string/app_name"></activity>
        <activity android:name=".vista.Tabs" android:label="@string/app_name"></activity>
        <activity android:name=".mapa.MapaAnalisisdelLugar" android:label="@string/app_name"></activity>
        <activity android:name=".mapa.MapaJsonLugarGeocode" android:label="@string/app_name"></activity>
        <activity android:name=".mapa.MapaDireccionlocalizacion" android:label="@string/app_name"></activity>
        <activity android:name=".mapa_arcgis.Mapa_Prueba_Base" android:label="@string/app_name"></activity>
        <activity android:name=".mapa_arcgis.MapaIdentify" android:label="@string/app_name"></activity>
        <activity android:name=".dispositivos.webcam.WebCam" android:label="@string/app_name"></activity>
        <activity android:name=".mapa_arcgis.Identify" android:label="@string/app_name"></activity>
        <activity android:name=".tematica.LecturaSensor" android:label="@string/app_name"></activity>
        <activity android:name=".mapa_arcgis.ClassBreaksRendererActivity" android:label="@string/app_name"></activity>
        <activity android:name=".modelo.LecturaModelo" android:label="@string/app_name"></activity>

        <!-- Registro del BroadcastReceiver-->


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBi_x1gT2z7XPabWiW5JFXXxJPdiKYSQi8"/>

    </application>

    <supports-screens
        android:smallScreens="true"
        android:largeScreens="true"
        android:anyDensity="true">
    </supports-screens>
</manifest>
